<div class="container mt-3">

    <h3>Alterar Tarefa</h3>
    <p>Preencha os campos para alterar uma tarefa.</p>
    <hr/>
  
    <div *ngIf="mensagem" class="alert alert-primary alert-dismissible fade show" role="alert">
      <strong>{{mensagem}}</strong>
      <button (click)="mensagem = ''" type="button" class="btn-close" aria-label="Close"></button>
    </div>
    
    <form [formGroup]="form" (submit)="alterarTarefa()">
    
      <div class="mb-3">
        <label>Nome da tarefa:</label>
        <input type="text" class="form-control" formControlName="nome"/>
        <div class="text-danger" *ngIf="f['nome'].touched && f['nome'].invalid">
          Por favor, informe o nome da tarefa com pelo menos 2 caracteres.
        </div>
      </div>
    
      <div class="mb-3">
        <label>Data da tarefa:</label>
        <input type="date" class="form-control" formControlName="data"/>
        <div class="text-danger" *ngIf="f['data'].touched && f['data'].invalid">
          Por favor, selecione a data da tarefa.
        </div>
      </div>
    
      <div class="mb-3">
        <label>Hora da tarefa:</label>
        <input type="time" class="form-control" formControlName="hora"/>
        <div class="text-danger" *ngIf="f['hora'].touched && f['hora'].invalid">
          Por favor, selecione a hora da tarefa.
        </div>
      </div>
  
      <div class="mb-3">
        <label>Descrição da tarefa:</label>
        <input type="text" class="form-control" formControlName="descricao"/>
        <div class="text-danger" *ngIf="f['descricao'].touched && f['descricao'].invalid">
          Por favor, informe a descrição da tarefa com pelo menos 2 caracteres.
        </div>
      </div>
    
      <div class="mb-3">
        <label>Prioridade:</label>
        <select class="form-select" formControlName="prioridade">
          <option value="">Escolha uma opção</option>
          <option value="3">ALTA</option>
          <option value="2">MÉDIA</option>
          <option value="1">BAIXA</option>
        </select>
        <div class="text-danger" *ngIf="f['prioridade'].touched && f['prioridade'].invalid">
          Por favor, selecione a prioridade da tarefa.
        </div>
      </div>
    
      <div class="mb-3">
        <input type="submit" value="Salvar"
               class="btn btn-success"
               [disabled]="form.invalid"
               />
      </div>
    
    </form>
  
  </div>